.slider
{
    padding: 0 0 30px;
}
.emoji-benefit
{
    color: var(--primary-color); /* Ví dụ: đổi màu thành đỏ */
    font-size: 50px; /* Kích thước chữ */
    padding: 5px; /* Khoảng đệm xung quanh */
    margin: 20px 0;
    /* margin-left: 40%; */
    
}
.benefits h6 
{
    text-transform: uppercase;
    /* text-align: center; */
    color: var(--heading-color);
}
.benefits
{
    height: 300px;
}
.benefits p
{
    text-align: center;
}
.buptra img 
{
    width: 100%;
    max-width: 300px;
    border-radius: 2rem;
    margin-left: 5px;
}
.buptra
{
    
    background-color: var(--secondary-color);
    border-radius: .5rem;
    overflow: hidden; 
    justify-content: space-between;
}
.draft 
{
    max-width: 450px !important;
}
.text-content
{
    padding: 0 300px;
}

.caycothu img
{
    width: 100%;
    max-width: 500px;
    border-radius: 2rem;
} 
.draft
{
    width: 100%;
    max-width: 800px;
    height: auto;
}
.masonry_img {
    transition: 0.5s;
  }
.masonry_img:hover {
    transform: scale(1.05);
  }