.product_img img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

.product-card {
    transition: transform 0.3s;
  }
.product-card:hover {
    transform: scale(1.05);
  }
.CardBody {
    position: relative;
  } 
  
.product_img {
    position: relative;
  }
  
.product_img span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    height: max-content;
    z-index: 1;
    background: var(--primary-color);
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 3px 0 0 0;
  }
  
.card_top span i {
    color: var(--secondary-color);
  }
  
  

  
  